.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 300px;
    width: 800px;
    border-radius: 15px;
    background-color: rgb(9, 113, 9);
    padding: 2rem 0;
    padding-left: auto;
    padding-right: auto;
    color: white;
}

.quote {
    font-size: 30px;
}

.line {
    width: 600px;
    height: 4px;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.author {
    font-size: 25px;
}

/* .icons {
    margin: 1rem;
    gap: 1rem;
} */

.icons {
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.icons img {
    width: 40px;
    height: 40px; 
    object-fit: contain;
    cursor: pointer;
}
